<!-- main.component.html -->

<div class="centered-container">
  <div>
    <!-- Apply the new CSS class to the search bar -->
    <form [formGroup]="search" class="search-form search-bar-background">
      <input type="text" placeholder="Enter your search term" formControlName="searchBox" class="form-control">
      <button [disabled]="search.invalid || search.pending" (click)="onSearchClick(search.controls['searchBox'].value)" class="btn btn-primary">Search</button>
    </form>
    <div class="not-found">
      <div *ngIf="invalidCity" class="error-message">City not found</div>
    </div>
  </div>
</div>

<div class="page-content page-container m-0 p-0" id="page-content">
  <div class="padding">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 grid-margin">
        <!-- weather card -->
        <div class="card card-weather">
          <div class="weather-date-location">
            <h3 class="text-primary">{{ weather.city }}</h3>
            <p class="text-gray">
              <span class="weather-date">{{ getCurrentDate() }}</span>
            </p>
          </div>
          <div class="card card-weather">
            <div class="weather-data-container d-flex justify-content-between align-items-center">
              <div>
                <h4 class="display-3 text-primary">{{ this.weather.temperature | number: '1.2-2' }}<span class="symbol">&deg;</span>C</h4>
                <p class="text-secondary">{{ weather.main }}</p>
                <p class="text-secondary"><b>Max Temp:</b> {{ weather.maxTemp | number: '1.2-2' }}&deg;C</p>
                <p class="text-secondary"><b>Min Temp:</b> {{ this.weather.minTemp | number: '1.2-2' }}&deg;C</p>
                <p class="text-secondary"><b>Humidity:</b> {{ this.weather.humidity }}%</p>
              </div>
              <div class="weather-image-container">
                <img *ngIf="weather.main=='Clouds' && this.weather.temperature>0" src="https://blog.weatherbit.io/content/images/2022/12/blog4.png" alt="Weather Image">
                <img *ngIf="weather.main=='Rain'" src="https://cdn.dribbble.com/users/2120934/screenshots/6193512/11_rain.gif" alt="Weather Image">
                <img *ngIf="weather.main=='Clouds' && this.weather.temperature<=0" src="https://cdn-icons-png.flaticon.com/512/2248/2248242.png" alt="Weather Image">
                <img *ngIf="weather.main=='Clear' && this.weather.temperature>=0" src="https://cdn-icons-png.flaticon.com/512/3222/3222800.png" alt="Weather Image">
              </div>
            </div>
          </div>
          

          
          <div class="card card-weather next-days-card">
            <div class="weather-date-location">
              <h3 class="text-primary">Next 5 Days</h3>
            </div>
            <div class="weather-data row row-cols-lg-5 row-cols-md-3 row-cols-2" >
              <div class="weakly-weather-item text-center col" *ngFor="let dayWeather of nextDaysData">
                <!-- ngFor directive should be handled in your Angular component -->
                <p class="text-primary text-nowrap test"><b>{{ dayWeather.day }}</b></p>
                <p class="text-primary">{{ dayWeather.temperature | number: '1.2-2' }}&deg;C</p>
              </div>
              <!-- Add other weakly-weather-item divs here based on the data provided by *ngFor -->
            </div>
          </div>
          
        <!-- weather card ends -->
      </div>
    </div>
  </div>
